{% extends 'layout.html' %}
    
{% block content %}

<style>
    body{
        background-image: none;
    }
</style>
        <h1 class="text-center my-4">Tensorflow based Keras Models</h1>

        <div class="text-center">
            <p>1) Self-trained Predictor:</p>
            <a href="{{ url_for('selftrained') }}">Self-trained Predictor</a><br><br>

            <p>2) Fine Tunned Winner of ImageNet (2014):</p>
            <a href="{{ url_for('finetunned') }}">Self tunned world class predictor</a><br><br>

            <p>3) You should also try our sign language interpreter:</p> 
            <a href="{{ url_for('signlanguage') }}">Sign Language Interpeter</a>
        </div>

        <h1 class="text-center my-4">Tensorflow.js Models</h1>

        <div class="text-center">
            <p>1) TF.js in Browser classifier</p>
            <a href="{{ url_for('mnistclassifier') }}">MNIST Digit Classifier</a><br><br>

            <p>2) TF.js in Browser classifier</p>
            <a href="{{ url_for('tfjsrps') }}">Browser Based, Realtime Rock Paper Scissors Classifier</a>
        </div>

{% endblock %}